
*{
    margin:  0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    cursor: pointer;
}
.nav{
height: 70px;
background-color: rgb(24, 22, 22);
color: white;
display: flex;
align-items: center;
justify-content: space-evenly;

}
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("img/amazon_logo (1).png");
   height: 50px;
   width: 100px;
   background-size: cover;
   }
   .border{
       border: 1.5px solid transparent;
   }
   .border:hover{
       border: 1.5px solid rgb(255, 255, 255);
   }
   /**box2 **/
   .add-first{
   color: #cccc;
   font-size: 1rem; 
   margin-left: 20 px;
}

 .add-second{
font-size: 0.8rem;
margin: 3p x ;
 }
 .add-icon{
    display: 1rem;
    align-items: center;
 }
 /**box3**/
.nav-search{
display: flex;
background-color: rgb(235, 154, 24);
width: 610px;
height: 40px;
border-radius: 4px;
justify-content: space-evenly;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width: 100%;
    font: size 1rem;
    border: none; 
}
.search-input:hover{
    border: 2px solid orange;
    

}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px ;
    color: #0f110f;
}
/**box4**/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/**box6**/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.8rem;
    font-weight: 700;
}
/**pannel**/
.pannel{
  height: 40px;
  background-color: #23222f;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly ;
}
.panel-ops p{
    display: inline;
    margin-left: 16px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
font-size: 0.9rem;
font-weight: 700;
}
/**hero-section**/

.hero-section{
    background-image: url("img/hero_image.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black ;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 26px;
}
a {
    color: rgb(0, 102, 255);
}
/**shop-section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #e2e7e6;
}
.box{
   
   height: 350px; 
   width: 23%; 
   background-color: white;
   padding: 20px 0px 15px;
   margin-top: 15px ;
}
 .box-img{
    height: 300px;
    background-size: cover;
    
 }
 .box-content{
    margin-left: 1rem;
    margin-right: 1rem;
 }
 .box-content p{
    color: #007185;
}




/**footer **/
footer{
    margin-top: px;
}

  .footer-panel1{
    background-color: #37475a;
    color:white ;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    } 
    .foot-panel2{
        background-color: #222f3d;
        color: white;
        height: 500px;
        display: flex;
        justify-content: space-between;  
    }
  ul{
    margin-top: 10px;
  }
   ul a {
    display: block; 
    color: white;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    }

    .foot-panel3{
       background-color: #222f3d;
       color: white; 
       border-top:0.5px solid white;
       display: flex;
       justify-content: center;
       height: 70px;
       align-items: center;
    }
    .logo{
        background-image: url("img/amazon_logo (1).png");
   height: 50px;
   width: 100px;
   background-size: cover;
    }
    .foot-panel4{
        background-color: #0f1111;
        color: white;
        height: 100px;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .pages{
         font-size: 0.7rem;
    }
    .copyright{
        font-size: 0.7rem;
    }
